<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopUI</title>

    <environemnt include="Development">
        <link href="~/lib/bulma-0.9.0/css/bulma.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environemnt>
    <environemnt include="Productio">

        <link href="~/lib/bulma-0.9.0/css/bulma.min.css" rel="stylesheet" />
    </environemnt>
</head>
<body>
    <header>
        <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ShopUI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>



    @RenderSection("Scripts", required: false)
</body>
</html>
