@page
@model ShopUI.Pages.Admin.IndexModel
@{
}

    <div id="app" class="container">
    <div class="columns">
        <div class="column is-3">
            <div class="menu">
                <div class="menu-label">
                    <p> Admin Menu</p>
                    <ul class="menu-list">
                        <li><a>Products</a></li>
                        <li><a>Orders</a></li>
                        <li><a>Stock</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class=" column is-9">
          
            <productmanager></productmanager>

            </div>
        </div>
    </div>
       

   

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/Admin/Product-Component.js"></script>
<script src="~/js/Admin/main.js"></script>
}