@page
@model ShopUI.Pages.Admin.IndexModel
@{
}

    <div id="app">
    
       
        <div>
            <p v-for="(product, index) in products">
                {{product.id}} - {{product.name}} - {{product.value}}
                <a @@Click="editProduct(product.id, index)">Update</a>
                <a @@click="deleteproducts(product.id, index)">Remove</a>
            </p>
        </div>

        <div>
            <input v-model="productModel.name" />
            <input v-model="productModel.description" />
            <input v-model="productModel.value" />
           
            <p>{{productModel.id}}</p>
            <p>{{productModel.name}}</p>
            <p>{{productModel.description}}</p>
            <p>{{productModel.value}}</p>
            <p>{{productModel}}</p>
            <button v-on:click="createProduct" v-if="!productModel.id">Create Product</button>
            <button v-on:click="updateProduct" v-else>Update Product</button>
        </div>
    </div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/Admin/main.js"></script>
}