
<div>
    <h1>Small Cart Component</h1>
    @foreach (var smallroduct in Model)
    {
<div>
    <small>@smallroduct.Name -</small>
    <small>@smallroduct.Value -</small>
    <small>@smallroduct.Qty</small>
</div>
    }

</div>

